.el-notify {
  display: flex;
  position: fixed;
  flex-direction: column-reverse;
  right: 0;
  bottom: 0;
  z-index: 1001;
  width: 300px;
  min-height: calc(100vh - 10px);
  margin: 0 20px 10px 0;
  flex: 1;
  overflow: hidden;
  pointer-events: none;
}

.el-notify-message {
  display: flex;
  flex-direction: column;
  background-color: rgb(232, 239, 255);
  margin: 10px 0;
  border-radius: 0 6px 6px 0;
  font-family: "Roboto", serif;
  padding: 8px 10px;
  color: rgba(var(--el-color), 1);
  border-left: 2px solid rgba(var(--el-color), 1);
  position: relative;
  overflow: hidden;
  pointer-events: all;
}

.el-notify-message--primary {
  background-color: rgb(232, 239, 255);
}

.el-notify-message--danger {
  background-color: rgb(255, 237, 238);
}

.el-notify-message--success {
  background-color: rgb(237, 250, 235);
}

.el-notify-message--warning {
  background-color: rgb(255, 248, 230);
}

.el-notify-message__title {
  font-size: 1rem;
  margin-bottom: 8px;
  font-weight: 600;
}

.el-notify-message__text {
  font-size: 0.8rem;
}

.el-notify-message__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  background-color: rgba(var(--el-color), 1);
  transition: width 0.25s linear;
}

.el-notify-message__close {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: transparent;
  width: 12px;
  height: 12px;
  transition: transform 0.25s ease;
  cursor: pointer;
}

.el-notify-message__close:hover {
  transform: rotate(180deg);
}

.el-notify-message__close:hover .el-notify-message__close-line {
  transform: translateY(-50%);
}

.el-notify-message__close-line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  border-radius: 6px;
  background-color: rgba(var(--el-color), 1);
  transition: transform 0.25s ease;
}

.el-notify-message__close-line:first-child {
  transform: rotate(45deg);
}

.el-notify-message__close-line:last-child {
  transform: rotate(-45deg);
}

.el-notify-fade-enter-active,
.el-notify-fade-leave-active {
  transition-property: transform, opacity, color;
  transition: 0.5s ease;
}

.el-notify-fade-enter-from,
.el-notify-fade-leave-to {
  opacity: 0;
}

.el-notify-fade-enter-from {
  transform: translateX(100%);
}

.el-notify-fade-leave-to {
  transform: translateX(100%);
}
