.el-ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation-name: ripple;
  animation-timing-function: linear;
  background: rgba(255, 255, 255, 0.4);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
