/* vars */
.el-input {
  --el-border-color: var(--el-color-gray-5);
  --el-padding-horizontal: 7px;
  --el-backgroung: var(--el-color-gray-2);
  --el-transition: 0.25s linear;
}

/* elements */
.el-input {
  justify-content: center;
  flex-direction: column;
  width: 240px;
  color: rgb(var(--el-color-text));
}

.el-input__label {
  font-size: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
  padding: 0 var(--el-padding-horizontal);
}

.el-input__input {
  border: 1px solid rgba(var(--el-border-color), 1);
  background: rgba(var(--el-backgroung), 1);
  color: rgba(var(--el-color-text), 1);
  padding: 7px var(--el-padding-horizontal);
  border-radius: var(--el-border-radius);
  transition: all 0.1s ease;
  outline: none;
  box-sizing: border-box;
  width: 100%;
}

.el-input__message {
  margin-top: 5px;
  font-size: 0.7rem;
  position: relative;
  padding: 0 var(--el-padding-horizontal);
  transition: all var(--el-transition);
}

/* modificators */

.el-input--primary > .el-input__input,
.el-input--danger > .el-input__input,
.el-input--success > .el-input__input,
.el-input--warning > .el-input__input {
  background: rgba(var(--el-color), 0.1);
  color: rgba(var(--el-color), 1);
  border-color: rgba(var(--el-color), 0.4);
}

/* .el-input--primary > .el-input__label,
.el-input--danger > .el-input__label,
.el-input--success > .el-input__label,
.el-input--warning > .el-input__label, */
.el-input--primary > .el-input__message,
.el-input--danger > .el-input__message,
.el-input--success > .el-input__message,
.el-input--warning > .el-input__message {
  color: rgba(var(--el-color), 1);
}

.el-input--block {
  width: 100%;
}

.el-input--disabled .el-input__label {
  opacity: 0.6;
  user-select: none;
  pointer-events: none;
}

.el-input--disabled .el-input__input {
  opacity: 0.6;
  user-select: none;
  pointer-events: none;
}

.el-input--disabled .el-input__message {
  opacity: 0.6;
}

/* actions */
.el-input__input:focus {
  box-shadow: 0 0 4px 0px rgba(var(--el-color-primary), 1);
  border: 1px solid rgba(var(--el-color-primary), 0.4);
}

.el-input--danger > .el-input__input:focus,
.el-input--success > .el-input__input:focus,
.el-input--warning > .el-input__input:focus {
  box-shadow: 0 0 4px 0px rgba(var(--el-color), 1);
  border: 1px solid rgba(var(--el-color), 0.4);
}

/* transition */
.el-input-message-fade-enter-active,
.el-input-message-fade-leave-active {
  transition: height 0.1s linear;
  overflow: hidden;
}

.el-input-message-fade-enter-from,
.el-input-message-fade-leave-to {
  height: 0;
}
