/* vars */
.el-button {
  --el-button-padding: 8px 12px;
  --el-button-border-radius: 6px;
  --el-color-text: 255, 255, 255;
}

/* elements */
.el-button {
  border-radius: var(--el-border-radius);
  background-color: rgb(var(--el-color));
  border: none;
  overflow: hidden;
  cursor: pointer;
  color: rgb(var(--el-color-text));
  transition: all var(--el-transition);
}

.el-button__content {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: var(--el-padding-vertical) var(--el-padding-horizontal);
  font-size: 0.8rem;
}

/* modificators */
.el-button:disabled {
  opacity: 0.2;
  user-select: none;
  pointer-events: none;
}

/* actions */
.el-button:focus-visible,
.el-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px -10px rgb(var(--el-color));
}
