/* vars */
.el-select {
  --el-padding-horizontal: 7px;
}

/* elements */
.el-option {
  display: none;
  background: transparent;
  width: calc(100% - 14px);
  padding: 5px 7px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.25s ease;
  background: rgba(var(--el-color-gray-2), 1);
}

.el-select {
  justify-content: center;
  flex-direction: column;
  width: 240px;
}

.el-select__label {
  font-size: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
  padding: 0 var(--el-padding-horizontal);
}

.el-select__wrapper {
}

.el-select__union {
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 0;
}

.el-select__input {
  outline: none;
  color: inherit;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 14px;
  padding: 7px;
  background: rgba(var(--el-color-gray-2), 1);
  color: rgba(var(--el-text), 1);
  border: 1px solid rgba(var(--el-color-gray-5), 1);
  border-radius: 6px;
}

.el-select__arrow {
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  transition: transform 0.25s ease;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 451.8 451.8' %3E%3Cpath fill='%234d4b4b' d='M226 354.7c-8.2 0-16.3-3-22.4-9.3L9.3 151.2A31.6 31.6 0 1154 106.4l172 172 171.8-172a31.6 31.6 0 0144.8 44.8L248.3 345.4a31.5 31.5 0 01-22.4 9.3z'/%3E%3C/svg%3E");
}

.el-select__container {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  right: 0;
  background: rgba(var(--el-color-gray-2), 1);
  display: none;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
  border-radius: 0 0 6px 6px;
  border-left: 1px solid rgba(var(--el-color-gray-5), 1);
  border-right: 1px solid rgba(var(--el-color-gray-5), 1);
  border-bottom: 1px solid rgba(var(--el-color-gray-5), 1);
}

.el-select__container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
}

.el-select__message {
  margin-top: 5px;
  font-size: 0.7rem;
  position: relative;
  padding: 0px 7px;
  transition: all 0.25s ease;
  overflow: hidden;
  font-family: "Roboto", serif;
}

/* modificators */
.el-select--primary .el-select__input,
.el-select--danger .el-select__input,
.el-select--success .el-select__input,
.el-select--warning .el-select__input {
  background-color: rgba(var(--el-color), 0.1);
  color: rgba(var(--el-color), 1);
}

.el-select--primary .el-select__container,
.el-select--danger .el-select__container,
.el-select--success .el-select__container,
.el-select--warning .el-select__container {
  background: rgba(var(--el-color), 0.1);
}

.el-select--primary .el-option,
.el-select--danger .el-option,
.el-select--success .el-option,
.el-select--warning .el-option {
  color: rgba(var(--el-text), 1);
  background-color: rgba(var(--el-color), 0.1);
}

.el-select--primary .el-option--active,
.el-select--danger .el-option--active,
.el-select--success .el-option--active,
.el-select--warning .el-option--active,
.el-select--primary .el-option:hover,
.el-select--danger .el-option:hover,
.el-select--success .el-option:hover,
.el-select--warning .el-option:hover {
  color: rgba(var(--el-color), 1);
}

.el-select--primary .el-select__message,
.el-select--danger .el-select__message,
.el-select--success .el-select__message,
.el-select--warning .el-select__message {
  color: rgba(var(--el-color), 1);
}

.el-select--disabled {
  user-select: none;
  pointer-events: none;
  opacity: 0.4;
}

/* actions */
.el-option--active,
.el-option:hover {
  color: rgba(var(--el-color-primary), 1);
}

.el-option--disabled {
  user-select: none;
  pointer-events: none;
  color: rgb(148, 148, 148);
}

.el-select--open .el-select__input {
  border-radius: 6px 6px 0 0;
}

.el-select__arrow--open {
  transform: translateY(-50%) rotate(180deg);
}

.el-select__container--open {
  display: flex;
}

.el-select__container--open > .el-option {
  display: flex;
}
