.el-title {
  font-family: "Roboto", serif;
  color: rgb(var(--el-color-text));
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  padding: 0 7px;
}

h1.el-title {
  font-size: 2rem;
}
h2.el-title {
  font-size: 1.5rem;
}

h3.el-title {
  font-size: 1.17rem;
}

h4.el-title {
  font-size: 1rem;
}

h5.el-title {
  font-size: 0.83rem;
}

h6.el-title {
  font-size: 0.75rem;
}
