.el-card {
  flex-direction: column;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 20px 0px rgb(0, 0, 0, 0.1);
  padding: 0;
  color: var(--el-color-text);
}

.el-card__title {
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-start;
  margin: 12px 7px 0 7px;
}

.el-card__body {
  margin: 12px 7px 12px;
}

.el-card__body--only {
  margin: 12px 7px;
}

.el-card__footer {
  display: flex;
  justify-content: center;
  margin: 0px 7px 12px 7px;
}

.el-card__footer > * {
  margin: 0 5px;
}
