.el-alert {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(var(--el-color), 0.1);
  color: var(--el-button-text-color);
  font-family: "Roboto", serif;
  border-radius: 0 6px 6px 0;
  padding: 10px;
  border-left: 2px solid rgba(var(--el-color), 1);
  overflow: hidden;
  box-sizing: border-box;
}

.el-alert__title {
  color: rgba(var(--el-color), 1);
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 1rem;
}

.el-alert__body {
  color: rgba(var(--el-color), 1);
  font-size: 0.8rem;
}

.el-alert__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  transition: transform 0.25s ease;
  cursor: pointer;
}

.el-alert__close-line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  border-radius: 6px;
  background-color: rgba(var(--el-color), 1);
  transition: transform 0.25s ease;
}

.el-alert__close-line:first-child {
  transform: rotate(45deg);
}
.el-alert__close-line:last-child {
  transform: rotate(-45deg);
}

.el-alert__close:hover {
  transform: rotate(180deg);
}

.el-alert__close:hover .el-alert__close-line {
  transform: translateY(-50%);
}

.el-alert__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  background-color: rgba(var(--el-color), 1);
  transition: width 0.25s linear;
}

.el-alert-fade-enter-active,
.el-alert-fade-leave-active {
  transition-property: height, padding;
  transition: 0.25s ease;
  overflow: hidden;
}

.el-alert-fade-enter-from,
.el-alert-fade-leave-to {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
