:root {
  /* color */
  --el-color-primary: 25, 91, 255;
  --el-color-warning: 255, 186, 0;
  --el-color-danger: 255, 71, 87;
  --el-color-success: 70, 201, 58;
  --el-color-text: 44, 62, 80;
  --el-color-gray-1: 249, 252, 253;
  --el-color-gray-2: 244, 247, 248;
  --el-color-gray-3: 240, 243, 244;
  --el-color-gray-4: 230, 233, 234;
  --el-color-gray-5: 221, 221, 221;
  --el-color: 17, 18, 20;

  /* border */
  --el-border-radius: 6px;

  /* padding */
  --el-padding-horizontal: 12px;
  --el-padding-vertical: 8px;

  /* transition */
  --el-transition-time: 0.25s;
  --el-transition-function: ease;
  --el-transition: var(--el-transition-time) var(--el-transition-function);
}

/* styling components thems */
[class*="--primary"] {
  --el-color: var(--el-color-primary);
}
[class*="--danger"] {
  --el-color: var(--el-color-danger);
}
[class*="--success"] {
  --el-color: var(--el-color-success);
}
[class*="--warning"] {
  --el-color: var(--el-color-warning);
}
