html,
body {
  padding: 0;
  margin: 0;
}

/* default stule component */
.el-element-normalize {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: none;
  outline: none;
  font-family: "Roboto", serif;
}
