.el-loading__wrapper {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.el-loading {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
}

.el-loading__container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.el-loading__animation {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-sizing: border-box;
}

.el-loading__animation:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3px;
  left: -3px;
  border: 3px solid rgba(var(--el-color-primary), 1);
  border-radius: inherit;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: inherit;
  animation: rotate 0.8s ease infinite;
}

.el-loading__animation:after {
  content: "";
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3px;
  left: -3px;
  border: 3px dashed rgba(var(--el-color-primary), 1);
  border-radius: inherit;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  animation: rotate 0.8s linear infinite;
  opacity: 0.2;
}

.el-loading__title {
  margin-top: 10px;
  font-family: "Roboto", serif;
  color: rgba(var(--el-color-primary), 1);
  font-weight: 600;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.el-loading-fade-enter-active,
.el-loading-fade-leave-active {
  transition: opacity 0.25s ease;
}

.el-loading-fade-enter-from,
.el-loading-fade-leave-to {
  opacity: 0;
}
