/* vars */
.el-checkbox {
  --el-border-color: var(--el-color-gray-5);
  --el-padding-horizontal: 7px;
  --el-backgroung: var(--el-color-gray-2);
}

/* elements */
.el-checkbox {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.el-checkbox__union {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}

.el-checkbox__label {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgb(var(--el-color-text));
  padding: 0px var(--el-padding-horizontal);
}

.el-checkbox__mask-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  height: 20px;
}

.el-checkbox__mask {
  position: absolute;
  background-color: rgba(var(--el-backgroung), 1);
  border: 1px solid rgba(var(--el-border-color), 1);
  border-radius: 6px;
  overflow: hidden;

  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: -1;
  transition: background-color 0.1s ease;
}

.el-checkbox__mask-check {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: all 0.1s ease;
  background-color: rgba(var(--el-color-primary), 1);
}

.el-checkbox__mask-check::before {
  position: absolute;
  width: 65%;
  height: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 405.3 405.3'%3E%3Cpath fill='%23fff' d='M393.4 124.4L179.6 338.2a40.6 40.6 0 01-57.4 0L12 227.8a40.6 40.6 0 0157.3-57.3l81.7 81.7L336 67a40.6 40.6 0 0157.4 57.3z'/%3E%3C/svg%3E");
}

.el-checkbox__input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.el-checkbox__message {
  margin-top: 5px;
  font-size: 0.7rem;
  position: relative;
  padding: 0px 7px;
  transition: all 0.25s ease;
  overflow: hidden;
}

/* modificators */
.el-checkbox__union--reverse {
  flex-direction: row-reverse;
}

.el-checkbox__mask--checked .el-checkbox__mask-check {
  transform: scale(1);
}

.el-checkbox__mask--checked {
  border: 1px solid rgba(var(--el-primary), 0.4);
}

.el-checkbox--primary .el-checkbox__mask,
.el-checkbox--danger .el-checkbox__mask,
.el-checkbox--success .el-checkbox__mask,
.el-checkbox--warning .el-checkbox__mask {
  background: rgba(var(--el-color), 0.1);
  border: 1px solid rgba(var(--el-color), 0.4);
}

.el-checkbox--primary .el-checkbox__mask-check,
.el-checkbox--danger .el-checkbox__mask-check,
.el-checkbox--success .el-checkbox__mask-check,
.el-checkbox--warning .el-checkbox__mask-check {
  background: rgba(var(--el-color), 1);
}

.el-checkbox--primary .el-checkbox__message,
.el-checkbox--danger .el-checkbox__message,
.el-checkbox--success .el-checkbox__message,
.el-checkbox--warning .el-checkbox__message {
  color: rgba(var(--el-color), 1);
}

/* actions */
.el-checkbox__input:focus-visible ~ .el-checkbox__mask {
  box-shadow: 0 0 4px 0px rgba(var(--el-color-primary), 1);
}

.el-checkbox--primary .el-checkbox__input:focus-visible ~ .el-checkbox__mask,
.el-checkbox--danger .el-checkbox__input:focus-visible ~ .el-checkbox__mask,
.el-checkbox--success .el-checkbox__input:focus-visible ~ .el-checkbox__mask,
.el-checkbox--warning .el-checkbox__input:focus-visible ~ .el-checkbox__mask {
  box-shadow: 0 0 4px 0px rgba(var(--el-color), 1);
}

.el-checkbox--disabled .el-checkbox__mask {
  opacity: 0.4;
}

.el-checkbox--disabled .el-checkbox__label {
  opacity: 0.4;
  user-select: none;
  pointer-events: none;
}

.el-checkbox--disabled .el-checkbox__input {
  user-select: none;
  pointer-events: none;
}

/* transition */
