.el-dialog {
  --el-color: var(--el-color-primary);
}

.el-dialog__wrapper {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.el-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.85);
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  background-color: #fff;
  border-radius: var(--el-border-radius);
  box-shadow: 0 0 20px 0px rgb(0, 0, 0, 0.1);
  opacity: 0;
  transition-property: opacity, transform;
  transition: 0.25s ease;
  max-height: calc(100vh - 40px);
  overflow: auto;
}

.el-dialog--block {
  width: calc(100vw - 40px);
}

.el-dialog--full {
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
}

.el-dialog__title {
  color: rgba(var(--el-color), 1);
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  margin-right: 30px;
}

.el-dialog__close {
  position: absolute;
  top: 20px;
  right: 24px;
  background-color: transparent;
  width: 16px;
  height: 16px;
  transition: transform 0.25s ease;
  cursor: pointer;
}

.el-dialog__close-line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 3px;
  width: 100%;
  border-radius: 6px;
  background-color: rgba(var(--el-color), 1);
  transition: transform 0.25s ease;
}

.el-dialog__close-line:first-child {
  transform: rotate(45deg);
}
.el-dialog__close-line:last-child {
  transform: rotate(-45deg);
}

.el-dialog__close:hover {
  transform: rotate(180deg);
}

.el-dialog__close:hover .el-dialog__close-line {
  transform: translateY(-50%);
}

.el-dialog--open {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.el-dialog-fade-enter-active {
  transition: opacity 0.25s ease;
}

.el-dialog-fade-leave-active {
  transition: opacity 0.25s ease;
}

.el-dialog-fade-enter-from,
.el-dialog-fade-leave-to {
  opacity: 0;
}
