.el-table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  min-width: 500px;
  overflow-x: auto;
  color: rgba(var(--el-text), 1);
}

.el-table * {
  box-sizing: border-box !important;
}

.el-table__wrapper {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.el-table__thead {
  width: 100%;
}

.el-table__tbody {
  width: 100%;
}

.el-table__tr {
  padding: 5px;
  border: 0;
}

.el-table__th {
  background: rgba(var(--el-color-gray-5), 1);

  padding: 10px 12px;
  text-align: left;
  transition: all 0.25s ease;
  font-size: 0.8rem;
  border: 0;
}

.el-table__td {
  padding: 10px 12px;
  transition: all 0.25s ease;
  font-size: 0.8rem;
  border: 0;
}

.el-table--striped .el-table__tr:nth-child(2n + 1) {
  background: rgba(var(--el-color-gray-2), 1);
}

.el-table--selectable .el-table__tr {
  cursor: pointer;
}

.el-table--selectable .el-table__tr:hover {
  background: rgba(var(--el-color-gray-4), 1);
}
